<div
  class="app-directions">
  <div class="app-directions-sidebar-wrapper">
    <div>{{ clusteredRoutes$ | async }}</div>
    <button
      pButton
      class="p-button-secondary app-sidebar-toggle-button"
      [ngClass]="{
        'app-sidebar-toggle-button--expanded': isSidebarVisible$ | async
      }"
      [icon]="(isSidebarVisible$ | async) ? 'fas fa-angle-left' : 'fas fa-angle-right'"
      (click)="toggleSidebarVisibility()"></button>
    <p-sidebar
      class="app-directions-sidebar"
      [showCloseIcon]="false"
      [modal]="false"
      [visible]="isSidebarVisible$ | async">
      <p-selectButton
        [ngModel]="drivingMode$ | async"
        (onChange)="drivingModeChanged($event)"
        [options]="drivingModes"></p-selectButton>

      <ng-container *ngIf="(points$ | async); else noPoints">
        <h4 class="p-mb-2">Directions</h4>
        <ul class="app-directions-point-list">
          <li
            *ngFor="let point of points$ | async; let id = index;"
            class="app-directions-point-list-item p-mb-2">
            <span class="p-badge">{{ id }}</span>
            <span class="p-col">{{ point | coordinate }}</span>
            <button
              pButton
              pTooltip="Remove Direction"
              tooltipPosition="top"
              class="p-button-rounded p-button-danger p-button-text p-button-sm"
              styleClass="p-button-sm"
              icon="fas fa-times"
              (click)="removePoint(id)"
            ></button>
          </li>
        </ul>
      </ng-container>
      <ng-template #noPoints>
        <div class="p-mt-3">
          <p-message
            severity="info"
            text="Click on the map to set up the route points"></p-message>
        </div>
      </ng-template>

      <ng-container *ngIf="(routes$ | async)">
        <h4 class="p-mb-2">Routes</h4>
        <ul class="app-directions-route-list p-grid p-flex-column p-mt-1">
          <li
            *ngFor="let route of routes$ | async; let id = index;"
            class="app-directions-route-list-item p-grid p-ml-0 p-mb-2 p-p-2"
            [class.app-directions-route-list-item--active]="id === (selectedRouteId$ | async)"
            (click)="selectRoute(id)">
            <div class="p-col p-grid p-flex-column p-m-0">
              <span class="p-text-bold">Duration: </span>
              <span class="p-text-normal">{{ route.duration | duration }}</span>
            </div>
            <div class="p-col p-grid p-flex-column p-m-0">
              <span class="p-text-bold">Distance: </span>
              <span class="p-text-normal">{{ route.distance | number: '.1-1' }} m</span>
            </div>
          </li>
        </ul>
      </ng-container>
    </p-sidebar>
  </div>
  <div class="app-directions-map">
    <mgl-map
      [style]="mapConfigs.style"
      [zoom]="mapConfigs.zoom"
      [center]="mapConfigs.center"
      (click)="addPoint($event)">
      <mgl-marker
        *ngFor="let point of points$ | async"
        [lngLat]="[point.lng, point.lat]"></mgl-marker>

      <ng-container *ngIf="routes$ | async">
        <!-- Selected Route: Render only clusters -->
        <ng-container *ngIf="clusteredRoutes$ | async">
          <ng-container *ngFor="let cluster of (clusteredRoutes$ | async | keyvalue); let clusterId = index">
            <mgl-geojson-source
              [id]="'route-' + clusterId">
              <ng-container *ngFor="let path of cluster.value">
                <mgl-feature [geometry]="path.geometry"></mgl-feature>
              </ng-container>
            </mgl-geojson-source>
            <mgl-layer
              [id]="'path-' + clusterId"
              type="line"
              [source]="'route-' + clusterId"
              [layout]="mapConfigs.line.layout"
              [paint]="{
                  'line-width': mapConfigs.line.paint['line-width'],
                  'line-color': cluster.key
                }"></mgl-layer>
          </ng-container>
        </ng-container>

        <!-- Unselected Routes -->
        <ng-container *ngIf="(unSelectedRoutes$ | async)">
          <mgl-geojson-source
            id="unselected-routes-source">
            <ng-container *ngFor="let unselectedRoute of (unSelectedRoutes$ | async); let routeId = index;">
              <ng-container *ngFor="let path of unselectedRoute.paths">
                <mgl-feature [geometry]="path.geometry"></mgl-feature>
              </ng-container>
            </ng-container>
          </mgl-geojson-source>
          <mgl-layer
            type="line"
            id="unselected-routes-layer"
            source="unselected-routes-source"
            [layout]="mapConfigs.inactiveLine.layout"
            [paint]="mapConfigs.inactiveLine.paint"></mgl-layer>
        </ng-container>
      </ng-container>
    </mgl-map>
  </div>
</div>
