:host {
  flex: 1 1 auto;
}

.app-directions {
  position: relative;
  height: 100%;
}

.app-directions-sidebar-wrapper {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20rem;
}

.app-directions-sidebar {
  .p-sidebar {
    position: absolute;
  }
}

.app-directions-list {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  height: 2rem;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}

.app-directions-list-cell {
  &--head {
    font-weight: 600;
  }
}

.app-directions-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidebar-toggle-button {
  position: absolute;
  top: 1rem;
  left: 0;
  transition: left .3s;
  z-index: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "Font Awesome 5 Free";

  &--expanded {
    left: 100%;
  }
}

.app-directions-point-list,
.app-directions-route-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-directions-point-list-item,
.app-directions-route-list-item {
  display: flex;
  align-items: center;
}

.app-directions-route-list-item {
  border-radius: 3px;
  transition: background-color .3s;

  &--active {
    background-color: #d3ffda;
  }
}

.app-directions-route-list-item:hover:not(.app-directions-route-list-item--active) {
  background-color: #e2e2e2;
  cursor: pointer;
}
