.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-header {
  background-color: #e1e1e1;
  border-bottom: 1px solid #d8d8d8;
}

.app-main {
  min-height: 0;
  flex: 1;
  overflow: hidden;
}

.p-menuitem-link-active {
  font-weight: bold;
}
