.app-sites {
  position: relative;
  height: 100%;
}

.app-sites-map-marker,
.app-sites-map-marker--cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: #555;
  border: 1px solid darken(#555, 5%);
  border-radius: .5rem;
}

.app-sites-map-marker--cluster {
  background-color: #b5b4ff;
  color: darken(#b5b4ff, 15%);
  font-weight: bold;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .75rem;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px #B5B4FF;
  box-shadow: 0px 0px 2px 2px #B5B4FF;
}

.app-sites-map-marker {}
