<div class="app-sites">
  <mgl-map
    [style]="mapConfigs.style"
    [zoom]="mapConfigs.zoom"
    [center]="mapConfigs.center"
    (load)="loadMap($event)"
    (zoomEnd)="setMapBounds()"
    (moveEnd)="setMapBounds()">
    <ng-container *ngIf="sites$ | async">
      <mgl-geojson-source
        id="points-source"
        [cluster]="true"
        [clusterRadius]="50">
        <mgl-feature
          *ngFor="let site of (sites$ | async)"
          [properties]="site.properties"
          [geometry]="site.geometry"></mgl-feature>
      </mgl-geojson-source>
      <mgl-markers-for-clusters source="points-source">
        <ng-template mglPoint let-feature>
          <div
            [pTooltip]="feature.properties.name"
            class="app-sites-map-marker"></div>
        </ng-template>
        <ng-template mglClusterPoint let-feature>
          <div class="app-sites-map-marker--cluster">
            {{ feature.properties?.point_count }}
          </div>
        </ng-template>
      </mgl-markers-for-clusters>
    </ng-container>
  </mgl-map>
</div>
