/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333;
}

fieldset {
  border: none;
}

legend {
  padding: 0;
  font-weight: 600;
}

input[type=number],
input[type=text],
input[type=password],
input[type=email] {
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: .25rem;
  padding: .5em;
}

mgl-map {
  height: 100%;
  width: 100%;
}
